/* geral */
*{
  padding: 0;
  margin: 0;
}
.row-conteudo{
  height: 80vh;
  display: flex;
  justify-content: center;
}
.col-esquerda{
  margin-left: 7vw;
}
.col-direita{
  margin-right: 7vw;
}
/* retirar */
.shipping, .payment, .itens, .resume,.finish{
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 10px;
  margin-bottom: 10px;
}

.resume{
  height: 85%;
}
.coupom{
  height: 10%;
}
.finish{
  height: 10%;
}
/* Shipping */
.shipping{
  height: 25%;
}
.title-shipping{
  margin-left: 1.5vw;
  margin-top: 0.5vw;
}
.endereço{
  margin: 1.3vw;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.texto {
  word-break: break-all;
}
.dados{
  display: flex;
  justify-content: left;
}
.alterar {
  background-color: #008000; /* alterar cor */
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.alterar:hover {
  background-color: darkgreen;
}
/* Pagamento */
.payment{
  height: 20%;
}
.title-payment{
  margin-left: 1.5vw;
  margin-top: 0.5vw;
}
.forma-pag{
  margin: 1.3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Itens */
.itens{
  height: 58.5%;
}
.title-itens{
  margin-left: 1.5vw;
  margin-top: 0.5vw;
}
.media{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
img{
  width: 5vh;
  height: 5vh;
}
.nome-item{
  font-size:large;
}
.valor-item{
  font-size: 20px;
}
.remover {
  background-color: #b40000; /* alterar cor */
  margin-left: 20vh;
  color: white;
  padding: 3px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.remover:hover {
  background-color: #810101;
}
/* resume */
.resume-title{
  margin-left: 1.5vw;
  margin-top: 0.5vw;
}
/* Coupon */
.coupon-btn {
  background-color: #1c1c1c; /* alterar cor */
  margin-left: 20vh;
  color: white;
  padding: 3px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.coupon-btn:hover {
  background-color: #000000;
}
.coupom{
  align-items: center;
}
.coupom > .container-content{
  margin-top: 1.4vh;
}
/* Finalizar */
.finish{
  display: flex;
  justify-content: center;
}
.finish-btn{
  background-color: #008000; /* alterar cor */
  color: white;
  padding: 10px 36%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.finish-btn:hover {
  background-color: darkgreen;
}