* {
    margin: 0;
}

body {
    background-color: #fafafa;
    overflow-x: hidden;
    width: 100vw;
}

/* NAVBAR */
/* Newsletter */

.newsletter {
    align-items: center;
    background-color: #1C490C;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    height: 28px;
    justify-content: center;
    position: relative;
    text-align: center;
    top: 0;
    width: 100vw;
}

.newsletter span {
    color: #fff;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
}

.newsletter a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-right: 3px;
}

.btn-close {
    position: absolute;
    right: 25px;
}

/* Newsletter */

.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar .navbar-features {
    color: black;
    display: flex;
    font-weight: 500;
    list-style: none;
    margin-bottom: auto;
    margin-left: -95px;
    margin-right: 5px;
    margin-top: auto;
}

.navbar-features label,
img {
    cursor: pointer;
}

.navbar-features li:not(:first-child) {
    margin-left: 20px;
}

.navbar .navbar-features a {
    color: black;
    text-decoration: none;
}

.navbar .search {
    align-items: center;
    background-color: #d7f0ce79;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    width: 350px;
}

.search #search {
    background: transparent;
    border: none;
    height: 100%;
    margin-left: 3px;
    width: 100%;
}

#search:focus {
    outline: none;
}

.navbar .navbar-profile {
    margin-left: -50px;
    margin-right: 40px;
}

.navbar .profile .navbar-logged {
    align-items: center;
    border-radius: 80%;
    border: 1px solid black;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-left: -50px;
    margin-right: 40px;
    overflow: hidden;
    width: 40px;
}

.navbar .profile img {
    height: 100%;
    width: 100%;
}

/* END NAVBAR */
/* LOGIN */

.container-login {
    background-color: none;
    display: none;
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    z-index: 3;
}

.container-login .close {
    backdrop-filter: blur(2px);
    background: none;
    height: 100vh;
    width: 100vw;
}

.container-login .login {
    align-items: center;
    background: #fff;
    border-radius: 40px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 465px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
}

.login img {
    margin-top: 25px;
}

.login input {
    outline: none;
}

.user {
    align-items: center;
    border-color: #184608;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.404);
    display: flex;
    flex-direction: row;
    height: 53px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    width: 360px;
}

.user img {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0px;
    width: 22px;
}

.user .lock {
    margin-left: 14px;
    margin-right: 7px;
    width: 28px;
}

.user input {
    border-radius: 12px;
    border: none;
    font-size: medium;
    height: 100%;
    padding-right: 5px;
    width: 90%;
}

.forget {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 33px;
    justify-content: left;
    margin-top: 20px;
    text-align: center;
    width: 360px;
}

.forget .check {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #184608;
    cursor: pointer;
    height: 1.2em;
    margin-left: 1px;
    margin-right: 3px;
    outline: none;
    width: 1.2em;
}

.forget .check:checked {
    background-color: #296d13;
}

.forget label {
    color: #184608;
    cursor: pointer;
    font-size: 14px;

}

.forget a {
    color: #184608;
    font-size: 14px;
    margin-left: 55px;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.btn-login {
    background: -webkit-linear-gradient(right, #184608, #659b08);
    border-radius: 10px;
    border: none;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.356);
    color: #fff;
    cursor: pointer;
    font-size: medium;
    height: 45px;
    margin-top: 30px;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    transition: .5s ease-out;
    width: 240px;
}

.btn-login:hover {
    background: -webkit-linear-gradient(left, #184608, #659b08);
    box-shadow: inset 1px 5px 5px rgba(0, 0, 0, 0.356);
}

.register {
    color: #184608;
    font-size: 16px;
    margin-top: 18px;
    text-decoration: none;
}

/* END LOGIN */
/* BASKET */

.basket {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.356);;
    max-height: 380px;
    overflow-y: auto;
    position: fixed;
    right: 0;
    transform: translateX(110%);
    transition: 0.4s ease;
    width: 350px;
    z-index: 5;
}

.basket .void {
    width: 100%;
    height: 140px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.basket .remove {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* END BASKET */
/* CAROUSEL */

.carousel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.carousel-inner {
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}

.btn-carousel {
    display: flex;
    height: 50px;
    left: 45px;
    position: absolute;
    top: 25px;
    width: 115px;
}

.btn-carousel .btn {
    background-color: #fff;
    width: 50%;
}

.btn-carousel .prev {
    border-radius: 5px 0px 0px 5px;
}

.btn-carousel .next {
    border-radius: 0px 5px 5px 0px;
}

/* END CAROUSEL */
/* CATEGORIES */

.categories {
    margin-top: 35px;
}

.categories h2 {
    color: black;
    font-weight: 700;
}

.categories .container-md {
    border: 1px solid black;
    display: flex;
}

.col {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.col .btn-categories {
    background-color: #e0f3d9;
    border-radius: 50%;
    border: none;
    height: 100px;
    transition: .4s;
    width: 100px;
}

.btn-categories img {
    transition: .6s ease-out;
}

.btn-categories:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: rotate(90deg);
}

.btn-categories:hover img {
    height: 65px;
    transform: rotate(-90deg);
    width: 65px;
}

.col span {
    color: black;
    font-weight: 500;
}

/* WARRANTY */

.warranty {
    background-color: #f0eeee;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    margin-top: 45px;
    position: relative;
}

.warranty .garantee {
    position: absolute;
    right: 35px;
    top: 30px;
}

.warranty h3 {
    color: black;
    font-weight: 700;
    margin-left: 25px;
}

.warranty .col {
    margin-top: 40px;
}

.warranty .mark {
    align-items: center;
    background-color: #e0f3d9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 10px;
    transition: .4s;
    width: 50px;
}

.mark img {
    cursor: default;
    transition: .4s ease-out;
}

.mark:hover img {
    transform: rotateY(180deg);
}

.warranty .content {
    margin-left: 55px;
}

.warranty .second~.third {
    margin: 0;
}

.warranty .third {
    margin-right: 35px;
}

/* END WARRANTY */
/* PRODUCTS */

.products .card {
    background-color: #f0eeee;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}

.card {
    border-radius: 5px;
}

.products .card-body {
    position: relative;
}

.products .cart {
    align-items: center;
    background-color: #1C490C;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: .3s ease;
    width: 35px;
}

.cart img {
    transition: .4s;
}

.cart:hover img {
    transform: rotateY(180deg);
}

.btn-products {
    border-radius: 5px;
    border: 2px solid #1C490C;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #1C490C;
    display: block;
    font-size: large;
    font-weight: 500;
    height: 45px;
    transition: .2s;
    width: 160px;
}

.btn-products:hover {
    background-color: #1C490C;
    border: none;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.all {
    display: none;
    transform: translateX(-110%);
    transition: .6s;
}

/* END PRODUCTS */
/* PROMO */

.promo {
    background-color: #184608;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 10px;
}

.promo .promo-text {
    text-align: left;
}

.promo .enjoy {
    align-items: center;
    border-radius: 5px;
    border: none;
    display: flex;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    margin-left: 10px;
    margin-top: 40px;
    overflow-x: hidden;
    transition: .3s;
    width: 160px;
}

.enjoy img {
    margin-left: 10px;
    transition: .4s;
}

.enjoy:hover {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.enjoy:hover img {
    transform: translateX(30%);
}

/* END PROMO */
/* EMAIL */

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email {
    align-items: center;
    background-color: #d7f0ce79;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    width: 350px;
}

.email img {
    cursor: default;
}

.email #email {
    background: transparent;
    border: none;
    height: 100%;
    margin-left: 3px;
    width: 100%;
}

#email:focus {
    outline: none;
}

.sign {
    align-items: center;
    background-color: #1C490C;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    font-weight: 700;
    height: 42px;
    justify-content: center;
    margin-left: 5px;
    overflow-x: hidden;
    transition: .3s;
    width: 160px;
}

.sign img {
    margin-left: 10px;
    transition: .4s;
}

.sign:hover img {
    transform: translateX(30%);
}

/* END EMAIL */
/* FOOTER */

footer {
    align-items: center;
    background: #f0eeee;
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-around;
    margin-top: 40px;
    position: relative;
    width: 100vw;
}

footer ul {
    color: rgba(0, 0, 0, 0.555);
    font-size: 12;
    list-style: none;
}

.divider {
    border: 1px solid rgba(0, 0, 0, 0.103);
    bottom: 45px;
    position: absolute;
    width: 90%;
}

.right {
    align-items: center;
    bottom: -2px;
    color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 90%;
}